.center{
    display: flex;
    justify-content: center;
}
.flex-start{
    display: flex;
    justify-content: start;
}
.flex-end{
    display: flex;
    justify-content: end;
}
.flex-space{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
}
.selected-page{
    color: rgb(3,142,60);
}
h2{
    // background-color: red;
    font-size: 2.5rem;
    font-family: 'Oxygen', sans-serif;
    padding-bottom: 1rem;
    padding-top: 2rem;
    @media(max-width:700px),(max-width: 400px){
        font-size: 1.6rem;
    }
}