.service{
    width: 100%;
    .top-service{
        width: 100%;
        text-align: center;
        p{
            font-size: 19px;
            letter-spacing: .2rem;
            color: rgb(86, 86, 87);
        }
    }
    .bottm-service{
        width: 100%;
    }
}