.variety{
    margin-top: 5rem;
    padding: 3rem 5rem;
    gap: -4rem;
    align-items: center;
    background: url(./assets/s1.jpg);
    background-size: cover;
    @media(max-width:700px),(max-width: 400px){
        gap: 1rem;
        padding: 8rem 1rem;
    }
    @media(max-width: 500px),(max-width: 100px){
        padding: 3rem 0;
    }
    .left-variety{
        width: 50%;
        padding: .3rem 5rem;
        gap: 3rem;
        @media(max-width:700px),(max-width: 400px){
            flex-direction: column;
            padding: 0;
        }
        .don{
            margin-left: 1rem;
            gap: 3rem;
            align-items: center;
            .stat{
                color: rgb(3,142,60);
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bolder;
            }
            h2{
                color: white;
            }
           
        }
    }
    .right-variety{
        width: 50%;
        gap: 3rem;
        padding: .3rem 4rem;
        // background-color: red;
        @media(max-width:700px),(max-width: 400px){
            flex-direction: column;
            padding: 0;
        }
        .don{
            margin-left: 5rem;
            align-items: center;
            // background-color: red;
            @media(max-width:700px),(max-width: 400px){
                margin-left: 1rem;
            }
            .stat{
                color: rgb(3,142,60);
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bolder;
            }
            h2{
                color: white;
            }
        }
    }
    .don{
        margin-left: 5rem;
        align-items: center;
        .stat{
            color: rgb(3,142,60);
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
        }
        h2{
            color: white;
        }
    }
}