*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import"globalClasses";
@import"mission";
@import"variety";
@import"service";
// html{
//     font-size: 70px;
// }
body{
    width: 100vw;
    .container{
        width: 100%;
        .header{
            width: 100%;
            height: 100vh;
            background: url(./assets/b2.jpg);
            background-size: cover;
            @media(max-width:700px),(max-width: 400px){
                width: 100%;
                height: 60vh;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
            .nav-Bar{
                width: 100%;
                padding: 0 1rem;
                @media(max-width:700px),(max-width: 400px){
                    width: 100%;
                    padding: .4rem 1rem;
                }
                @media(max-width: 500px),(max-width: 100px){
                    padding: .4rem 1rem;
                }
                .left-nav{
                    width: 40%;
                    @media(max-width:700px),(max-width: 400px){
                        width: 97%;
                        justify-content: space-between;
                    }
                    
                    img{
                        width: 20%;
                        @media(max-width:700px),(max-width: 400px){
                            width: 20%;
                        }
                    }
                    .menu{
                        color: white;
                        padding: 0rem .3rem;
                        background-color: #00b381;
                        visibility: hidden;
                        font-size: 1rem;
                        @media(max-width:700px),(max-width: 400px){
                            visibility: visible;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
                .right-nav{
                    width: 60%; 
                    gap: 4rem;
                    padding-right: 3rem;
                    @media(max-width:700px),(max-width: 400px){
                        display: none;
                        width: 0%;
                    }
                    // background-color: green;
                    align-items: center;
                    a{
                        &:hover{
                            color: rgb(3,142,60);
                        }
                    }
                }
            }
            .hero{
                height: 80%;
                color: rgb(168, 166, 166);
                padding: 2% 10%;
                flex-direction: column;
                gap: .7rem;
                @media(max-width:700px),(max-width: 400px){
                    padding: 1% 2%;
                    gap: .3rem;
                }
               
               h1{
                font-size: 51px;
                line-height: 61px;
                margin-top: 1.5rem;
                font-weight: 900;
                color: white;
                letter-spacing: .1rem;
                -webkit-text-stroke: 1px rgb(36, 35, 35);
                font-style: normal;
                font-family: 'Fira Sans', sans-serif;
                @media(max-width:700px),(max-width: 400px){
                    font-size: 45px;
                    line-height: 35px;
                    margin-top: 0rem;
                }
               }
               p{
                width: 40%;
                font-size: 1.2rem;
                color: #c1c1c1;
                font-family: 'Oxygen', sans-serif;
                line-height: 23px;
                @media(max-width:700px),(max-width: 400px){
                    font-size: 20px;
                    width: 100%;
               }
            }
               h3{
                font-size: 24px;
                line-height: 29px;
                color: #00b381;
                font-family: 'Fira Sans', sans-serif;
                font-weight: 100;
                @media(max-width:700px),(max-width: 400px){
                    font-size: 25px;
                    line-height: 22px;
                }
            }
            button{
                width: 13%;
                padding: .5rem;
                margin-top: 1rem;
                @media(max-width:700px),(max-width: 400px){
                    width: 30%;

                }
               }
        }
    }
        .donation{
            width: 100%;
            background-color: rgb(3,142,60);
            @media(max-width:700px),(max-width: 400px){
                flex-direction: column;
            }
            .left-sectn{
                height: 190px;
                background-color: rgb(210,210,210);
                
                @media(max-width:700px),(max-width: 400px){
                    background-color: red;
                }
                img{
                    width: 50%;
                }
                .text-sectn{
                    flex-direction: column;
                    gap: 1rem;
                    padding: 1rem 2rem;
                    width: 50%;
                    padding: 1rem;
                    h3{
                        font-weight: bold;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    a{
                        background-color: #00b381;
                        width: 100px;
                        padding: .7rem;
                    }
                }
            }
             .right-sectn{
            height: 190px;
            background-color: rgb(210,210,210);
            img{
                width: 50%;
            }
            .text-sectn{
                flex-direction: column;
                gap: 1rem;
                padding: 1rem 2rem;
                width: 50%;
                h3{
                    font-weight: bold;
                    font-family: Arial, Helvetica, sans-serif;
                }
                a{
                    background-color: #00b381;
                    width: 100px;
                    padding: .7rem;
                }
            }
       
        }   }
    }
}